.navbar{
    background-color: map-get($colors, navigationColor);
    .navbar-collapse{
        justify-content: space-between;
        position: absolute;                                                              
        top: 3.3rem;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: map-get($colors, navigationColor);
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.16);
        @media(min-width: 768px){
            position: relative;
            top: 0;
            box-shadow: none;
        }
    }
    .navbar-brand{
        color:map-get($colors, primary);
        font: italic bold 20px $fontPrimary;
        &:hover{
            color: map-get($colors, textColor);
        }
    }
    .nav-link{
        color: map-get($colors, links) !important;
        font-size: 18px;
        margin:  0.5rem 0;
        padding-left: 10%;
        padding-right: 10%;
        @media (min-width: 768px){
            padding: 0 1rem;
            font-size: 16px;
            margin: 0;
        }
    }
     .active {
        background-color: map-get($colors , white ) ;
        border-radius: none;
        width: 100%;
        margin: 0;
        @media (min-width: 768px){
            border-radius: 3px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .navbar-toggler{
        border:none;
        padding-right: 0;
        &:focus{
            box-shadow: none;
        }
    }
    form{
        margin-bottom: 1rem;
        padding: 0 5%;
        @media (min-width:768px){
            margin-bottom: 0;
        }
        button{
            background-color: map-get($colors, primary);
            border-color: map-get($colors, primary);
            border-radius: 0 4px 4px 0;
            color: map-get($colors, white);
            &:hover{
                background-color: map-get($colors, textColor );
            }
        }
        input{
            border-radius: 4px 0 0 4px;
            border-color: map-get($colors, white);
        }
    }
}