.newsMain{
    .pagination{
        margin: 2rem 0 0 0;
        .page-item{
            .page-link{
                color: map-get($colors, primary );
                border: 1px solid map-get($colors, primary );
                padding: 8px 14px;
            } 
        }
        .page-item.active .page-link{
            background-color: map-get($colors, primary );
            color: map-get($colors, white );
            border-color: map-get($colors, primary );
        }
        .bottomPagination{
            margin-bottom: 5rem;
        }
    }
    .cardContainer + .container{
        margin-bottom: 5rem;
    }
}
