.nav-tabs{
    border: none;
    .nav-link{
        color: map-get($colors, primary );
        padding: 0.5rem 2rem;
        border: none;
    }
    .active{
        border-radius: 10px 10px 0 0;
        box-shadow: 0 5px 0 0 map-get($colors, white );
        border: $tabsBorder;
    }
}
.tab-content{
    background-color: map-get($colors, white );
    border-radius: 10px;
    box-shadow: 0px 16px 22px 0 rgba(0, 0, 0, 0.06);
    border: $tabsBorder;
    padding: 3rem 1rem 5rem 1rem;
    margin-bottom: 5rem;
    .acc-links{
        color: map-get($colors, links );
        a{
            margin: 0.5rem;
            i{
                font-size: 20px;
            }
        }
    }
}
