// colors

$colors: (
    primary: #E92569,
    textColor: #767676,
    links: #0A0A0A,
    backgroundColor: radial-gradient(#FFFFFF, #E5E5E5),
    navigationColor: #EFEFEF,
    white: #FFFFFF,
);

$fontPrimary: "Playfair Display", serif;
$fontSecondary: 'Lato', sans-serif;

//Home Page Tabs

$tabsBorder: 1px solid #D1D1D1;